/* main */
.main{
    display: flex;
  width: 100%;
  height: 100%;
}



/* sidebar */
.aside-bar{
    width: min(252px, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 900px;
    border-right: 2px solid #F8F8F8;
}
/* NAV */
.nav__list{
    display: flex;
    padding-bottom: 295px;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 270px;
    margin-top: 110px;
}
.nav__items{
    align-content: space-around;
    padding-top:21px ;
}
.nav-items__title{
    margin-left:22px ;
}
.nav-items__link{
    display: flex;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #C7C7C7;
    padding-left: 15px;
    transition: all 0.2s ease-in-out;
}
.nav-items__link:hover{
    color: #197BBD;
}
.nav-items__link--active{
    color: #197BBD;
}
.nav-items__icon{
    width: 20px;
    height: 20px;
    
}


/* upsell */
.upsell{
    display: flex;
    width: auto;
    margin-top: -170px;
    flex-direction: column;
    align-items: center; 
}
.upsell__description{
    font-family: Suprema;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    text-align: center;
    color: #404040;
    padding: 12px;
}
.upsell__link{
    display: flex;
    align-items: center;
    background: #FFC145;
    border-radius: 13.617px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 11.1442px;
    line-height: 14px;
    width: 160px;
    height: 40px;
    color: #404040;
}
.upsell__link:hover{
    opacity: 0.7;
}
.upsell-link__title{
    margin-left: 20px;
}


/* Main content */

.main-content{
    padding: 20px 0px;
    flex-grow: 1;
}


/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
}
.header-title{
    font-family: 'Suprema';
    font-style: normal;
    font-weight: 600;
    font-size: 43.3726px;
    line-height: 53px;
    color: #404040;
    margin: 0;
}
.header__description{
    font-family: Suprema;
    font-style: normal;
    font-weight: normal;
    font-size: 16.0564px;
    line-height: 20px;
    color: #AEAEAE;
    margin: 0;
}

/* header-block */  
.header__block--left{
    margin-left: 45px;
}

.user-actions{
    display: flex;
    align-items: center;
}
.user-actions__list{
    display: flex;
    align-items: center;
    margin-right: -16px;
    margin-top: 19px;
}
.user-actions__item{
    margin-right: 25px;
}

.text__principal{
    margin-right: 48px;
    margin-top: 12px;
    font-family: Suprema;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #404040;

}
.text__sub{
    font-family: Suprema;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #AEAEAE;
}

/* Finance content */
.finance-content{
    width: calc(100% - 70px);
    height: 484px;
    margin-left: 45px;
    margin-right: 25px;
    /* background-color: red; */
}

/* CARD */
.card-finance{
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 28px;
    width: 488px;
    height: 310px;

}
.card-content{
    display: flex;
    align-items: flex-start;
}
.card-finance__title{
    margin: 45px 0px 13px 26px;
    font-family: Suprema;
    font-style: normal;
    font-weight: 600;
    font-size: 20.1118px;
    line-height: 25px;
    color: #404040;
}
.card-finance__icon{
    display: flex;
    position: relative;
    width: 250px;
    height: 160px;
    margin-left: 36px;
    background: linear-gradient(180deg, #197BBD 0%, #3391D0 100%);
    border-radius: 26px;
}
.card-finance__icon--circles{
    position: absolute;
    width: 155px;
    margin: 26px 133px;
    height: 152px;
}
.arrow-card__icon--left{
    position: absolute;
    width: 9px;
    height: 19px;
}

/* text card */
.card-inside__title{
    position: absolute;
    margin: 10px 56px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 16.7475px;
    line-height: 21px;
    color: #FFFFFF;
}
.card-inside__subtitle{
    position: absolute;
    margin: 30px 56px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 8.11292px;
    line-height: 10px;
    color: rgba(10, 9, 9, 0.39);
}
.number-card__list{
    display: flex;
    position: absolute;
    margin: 70px;
    margin: 70px 52px
}
.number-card__items{
    margin: 0px 5px 0px 5px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.card-items__first{
    margin-left: 0px;
}
.card__info{
    position: absolute;
    margin: 115px 58px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 7.17776px;
    line-height: 9px;
    color: #FFFFFF;
}
.card-info__name{
    position: absolute;
    margin: 130px 58px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 12.6167px;
    line-height: 15px;
    color: #FFFFFF;
}
.card-info__expire{
    position: absolute;
    padding: 115px 142px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 7.17776px;
    line-height: 9px;
    color: #FFFFFF;
}
.card-info__date{
    position: absolute;
    padding: 128px 142px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 12.6167px;
    line-height: 15px;
    color: #FFFFFF;
}